* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Sans";
    border: none;
    min-height: 0;
    margin: 1px 1px;
}

#waybar {
    background-color: rgba(255, 255, 255, 1);
    color: #1C1C1C;
    border-radius: 0px;
    transition-property: background-color;
    transition-duration: .5s;
    font-size: 12px;
    font-weight: normal;
}

/* Module */
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mpd,
#disk,
#battery,
#backlight,
#workspaces {
    padding-left: 0.7em;
    padding-right: 0.7em;
    color: #FFFFFF;
    margin: 1px 1px;
/*    background: #1c1c1c;*/
	border-radius: 5px;
	border: 0px solid #ffffff;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding: 0;
    border-radius: 5px;
    font-size: 0.9em;
    margin: 2px 2px;
}
#workspaces button.active {
    border-radius: 5px;
    color: #1C1C1C;
    margin: 2px 2px;
}

#battery.charging, #battery.plugged {
    color: #1C1C1C;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#custom-menu {
	padding-left: 0.1em;
    padding-right: 0.1em;
/*	background-color: #1c1c1c; */
	border-radius: 5px;
	 font-size: 1.6em;
	border: 0px solid #4287f5;
}

#custom-power {
	padding-left: 0.3em;
        padding-right: 0.3em;
/*	background-color: #1c1c1c; */
	border-radius: 5px;
	border: 0px solid #FF0000;
}

#custom-scratchpad_indicator {
	padding-left: 0.1em;
	padding-right: 0.2em;
	background-color: #000000;
	border-radius: 5px;
	border: 0.3px solid #ffffff;
}
#custom-cycle_wall {
	padding-left: 0.4em;
	padding-right: 0.2em;
	background-color: #000000;
	border-radius: 5px;
	border: 0.3px solid #ffffff;
}
#custom-updates {
	padding-left: 0.2em;
	padding-right: 0.2em;
	background-color: #000000;
	border-radius: 5px;
	border: 0.3px solid #ffffff;
}

#battery.critical:not(.charging) {
    color: #d91111;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
